@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

html{
    background-color: #353855;
    margin-left: 25px;
    margin-right: 25px;
}

body{
    background-color:#7387a5;
    border-radius: 20px;
}

h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px; 
}

.header{
    padding: 0.1px;
    background-color: #185ba7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.game_container{
    display: flex;
    flex-wrap: wrap;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 260px;
    background-color: #DAD7CD;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
    padding: 2px 16px;
}

h2{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10px;
}

p{
    font-family: 'Kanit', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card img{
    max-width: 250px;
    max-height: 225px;
    width: auto;
}

.main{
    text-align: bottom;
}

a{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #d5dfdb;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_link{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #4C2A85;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.return{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

a:hover{
    color: #320E3B;
}

table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    background-color: #A3B1C7;
}

.synopsis{
    display: flex;
    
}

.simg{
    width: 50%;
}

.dropbtn {
    background-color: #5a6d88;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: flex;
    width: 100%;
}

.dropdown:hover .dropbtn {
    background-color: #4e5d72;
}

.reviewcolour{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #41658d;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rpage{
    width: 400px;
    border-radius: 5px;
}

.rev_box{
    border-width: 4px;
    border-style: solid;
    border-color: #ccbe90;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 800px;
    background-color: #DAD7CD;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.game_title{
    font-size: 50px;
}

.rev{
    font-size: 20px;
}

.sort_btn{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    background-color: #DAD7CD;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.sort{
    display: none;
}

.genre{
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}

.flashes{
    background-color: #CB3C3C;
    padding: 1px;
    list-style: none;
    border-width: 2px;
    border-style: solid;
    border-color: #8A0606;
}