<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    {% block content %}
    <body>
        <div>
            <h2 class="game_title">About</h2>
        </div>
        <div class="Overview">
            <p>
                Welcome to Game Circle Reviews! 
                This is a simple website to use in order to write down some reviews on some of your favourite games. 
                This was made as a school project for year 13.
            </p>
            <p>
                As a result, it is a pretty simple site, so if there are not some games that you enjoy here, you may find something you would like to try. 
                That said, I believe there are few issues, even less that I would call "glaring" in the sight. 
                If you see a game that you enjoy, feel free to write a review on it
            </p>
        </div>
    </body>
    {% endblock %}