<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2 class="game_title">{{game.name}}</h2>
    </div>
    {# Image + synopsis table #}
    <table>
        <tr>
            <th><img class="rpage" src="/static/photo/{{ game.image }}"></img></th>
            <th><p class="syn">{{game.synopsis}}</p></th>
        </tr>
    </table>
    
    <div class="reviewcolour">
    {# Basic information #}
    <h3>Genre</h3>
    <p>{{game.genre.genre}}</p>
    {% if current_user.is_authenticated %}
        <div>
            <h3>Reviews</h3>
            <form method="POST" action="/game/{{game.id}}">
                {{ form.csrf_token }}
                {{ form.write.label }} {{ form.write(size=20) }}
                <input type="submit" value="Go">
            </form>
            <div class="game_container">
                {% for review in reviews %}
                    <div class="rev_box">
                        <p>{{ review.user.username }}</p>
                        <p class="rev">{{review.create_rev}}</p>
                        <form action="/delete" method="POST"><input type="submit" value="Go"><input type="hidden" value="{{review.id}}" name="review_id"></form>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div>
            <h3>Please Login to see this section of the page</h3>
        </div>
    {% endif %}
    </div>
    {% endblock %}
</body>
</html>