<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {# sort menu #}
    {% block content %}
    <div class="dropdown">
      <button class="dropbtn">Dropdown</button>
      <div class="dropdown-content">
        {% for genre in genres %}
        <div>
            <a href="{{url_for('genre', id=genre.id)}}">{{genre.genre}}</a>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="split"></div>

    {# game card + link #}
    <div class="game_container">
    {% for game in games %}
    <div class="card">
        <div class="container">
          <a href=" {{url_for('game', id=game.id)}}"><img class="thumbnail" src="static/photo/{{ game.image }}"></img></a>
          <h4><a href=" {{url_for('game', id=game.id)}}">{{game.name}}</a></h4>
          <p>{{game.genre.genre}}</p>
        </div>
      </div>
        
    {% endfor %}
    </div>
    {% endblock %}
</body>
</html>