<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="game_container">
        {% for game in games %}
        <div class="card">
            <div class="container">
              <a href=" {{url_for('game', id=game.id)}}"><img class="thumbnail" src="static/photo/{{ game.image }}"></img></a>
              <h4><a href=" {{url_for('game', id=game.id)}}">{{game.name}}</a></h4>
              <p>{{game.genre.genre}}</p>
            </div>
          </div>
            
        {% endfor %}
    </div>
    
    
</body>
{% endblock %}
</html>